.mainContainer {
    padding: 5rem 2rem;
}

.videoContainer {
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
}

.videoContainer > video {
    object-fit: cover;
    width: 100%;
    border-radius: 1.5rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.pContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.h1 {
    font-size: 3rem;
    font-weight: 400;
}

.p {
    font-size: 1.5rem;
}

.p > span {
    opacity: .5;
}

@media (min-width: 768px) {
    .pContainer {
        flex-direction: row;
        gap: 10vw;
        margin-right: 10vw;
    }

    .h1 {
        max-width: 50vw;
    }

    .p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .p {
        font-size: .8rem;
    }

    .h1 {
        font-size: 2rem;
        max-width: .1rem;
    }

    .textContainer {
        flex-direction: row;
    }

    .pContainer {
        margin-left: 50%;
        margin-right: 0px;
    }

}