.mainContainer {
    margin: 5rem 2rem;
    position: relative;
}

.listItem {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

.imgWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.stickyDiv {
    position: sticky;
}

.imageContainer {
    width: min(35vw, 20rem);
    margin-left: auto;
}

.imageContainer > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}

.clientP {
    display: none;
}

@media (min-width: 1024px) {
    .mainContainer {
        display: flex;
        flex-direction: row-reverse;
    }

    .imgWrapper {
        width: 50%;
    }

    .clientsContainer {
        width: 50%;
    }

    .listItem {
        font-size: 3.5vw;
    }

    .imageContainer {
        width: min(35vw, 15rem);
        margin-right: 3rem;
    }

    .clientP {
        display: block;
        position: absolute;

    }
}